@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change Password</p>

                <form method="post">
                    <label>User Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="username" id="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                   
                        <label> Enter New Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="pswd">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>

                        </div>
                    </div>
                   
                        <label> Confirm Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="cnfpswd">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <!-- /.col -->
                   
                </form>
                <div class="bg-light text-center">
                    <input class="btn btn-primary" type="button" id="save" value="Change" onclick="Change()" />
                    <button class="btn btn-white"><a asp-area="" asp-controller="Home" asp-action="LoginPage">Go to Login Page</a></button>
                </div>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        function Change() {
            var a = $("#pswd").val();
            var b = $("#cnfpswd").val();
            alert(a)
            alert(b)
            if (a != b) {
                alert("password is incorrect!");
                return false;
            }
            var Confirm =
            {
                'UserName': $("#username").val(),
                'Password': $("#pswd").val(),
            }
            $.ajax({
                url: "/Master/Change",
                method: 'GET',
                dataType: 'JSON',
                data: Confirm,
                success: function (data) 
                {
                    if (data.success == 1) 
                    {
                      alert("Confirm Password")
                    }
                    else
                    {
                        alert("invalid")
                    }
                }
            });
        }
    </script>

</body>
</html>

