@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-m-4 bg-light text-right">
    <input class="btn btn-primary" type="button" id="plus" value="+" onclick="Clickk()" />
</div>
<div class="col-m-4 bg-light text-right">
    <input class="btn btn-primary" type="button" id="minus" value="-" onclick="Minus()" />
</div>
  <div><center><h3><b>STATE MASTER</b></h3></center></div>
<div id="divv">
    <div class="container">
        <form id="form">
            <div>
                <div>
                    <label for="class">Country</label>
                    <select class="form-control" type="text" id="SelCountry">
                        <option value="">select</option>
                    </select>
                </div>
                <div>
                    <label for="text">State Name</label>
                    <input class="form-control" type="text" id="StName" />
                </div>
                <div class="col m-4">
                    <input class="btn btn-primary" type="button" id="save" value="save" onclick="State()"/>
                </div>
            </div>
        </form>
        <div id="table"></div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#form").hide();
        $("#minus").hide();
        $("#table").show();
    });
    function Clickk() {
        $("#form").show();
        $("#plus").hide();
        $("#minus").show();

    }
    function Minus() {
        $("#form").hide();
        $("#minus").hide();
        $("#plus").show();
    }
    show();
    SelCount();
    function SelCount(){
        $.ajax({
            url: "/Master/SelectCountry",
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                $("#SelCountry").html(data.success);
            }
        });
    }
    $("#StName").keyup(function () {
        //alert(this.value)
        var a = this.value
        var b = a.replace(/[0-9]+/g, '');
        //alert(b)
        $("#StName").val(b);
        return false
    });
    show();
    function State() {
        var state =
        {
            'CountryType': $("#SelCountry").val(),
            'State': $("#StName").val(),
        }
        $.ajax({
            url: "/Master/State",
            method: 'GET',
            dataType: 'JSON',
            data: state,
            success: function (data) {
                if (data.success == 1) {
                    alert("State inserted");
                    $("#SelCountry").val("");
                    $("#StName").val("");
                    show();
                }
                else {
                    alert("State not inserted");
                    show();

                }

            }
        });
    }
    show();
    function show() 
    {
        $.ajax({
            url: "/Master/StateShow",
            method: 'POST',
            dataType: 'JSON',
            success: function (data) 
            {
                if (data.success != "") {
                    $("#table").html(data.success);
                }
            }

        });
    }
    function Deleted(id) {
        if (window.confirm("Do you want to delete?")) {
            $.ajax({
                url: "/Master/Delet?id=" + id,
                method: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.success == 1) {
                        alert("Deleted Successfully")
                        show();
                    }
                }
            });
        }
    }
</script>